<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

    <main>
    <div id="products" class="products-title">
        <h4>Salvabolsillos</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/accesoriosSalvabolsillo" ><img src="/images/Products/accesorios/salvabolsillos-ciguena.jpg" alt="salvabolsillos-ciguena" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Salvabolsillos</div>
        <p class="product-description">
            DESCRIPCION: Si hay algo típico en nuestra profesión es agacharse para coger algo que se nos ha caído al suelo y que al inclinarnos caigan todos y cada uno de los bolis que hay en nuestro bolsillo, además de las horribles manchas que producen en nuestro pijama esos bolis “traviesos” que deciden destintar y darle un toque de color rojo/verde/azul/negro a nuestro impoluto ambo blanco.
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Salvabolsillos de PVC de 16 x 9 cm. </li>
            <li>Fácil limpieza.</li>
            
        </ol>
    </div>
    </div>
        </div>
    </section>
    </main>

<%-include('../partial/footer')%> 

</body>
</html>