<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

    <main>
    <div id="products" class="products-title">
        <h4>Compresor</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/accesoriosCompresor"><img src="/images/Products/accesorios/compresor-bichon.jpg" alt="Compresor" class="products-img-ambos"></a>
            <div class="card-body">
        <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Compresor</div>
        <p class="product-description">
            DESCRIPCION: Esas venas que se resisten... ¡Con estos compresores se resistirán menos! O tal vez no... Pero ¿a quién no le alegra la vista un compresor así?</p>
        <ol>
            <li>Compresor de tela elástica, fácil de lavar. </li>
            <li>Con cierre de clic y ajustable. </li>
            <li>Botón para liberar rápidamente el brazo de los pacientes.</li>
        </ol>
    </div>
        </div>
    </section>
    </main>

<%-include('../partial/footer') %>


</body>
</html>
