<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

<main>
    <div id="products" class="products-title">
        <h5>Accesorios</h5>
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/products/product/8" ><img  src="/images/Products/accesorios/tijera-azul.jpg" alt="tijera-azul" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Tijera Azul</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/products/product/9" ><img src="/images/Products/accesorios/compresor-bichon.jpg" alt="Compresor" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Compresor</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/products/product/11" ><img src="/images/Products/accesorios/salvabolsillos-ciguena.jpg" alt="salvabolsillos-ciguena" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Salvabolsillos</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/products/product/10" ><img src="/images/Products/accesorios/coletero-mariquitas.jpg" alt="scrunchie-mariquitas" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Scrunchie Mariquitas</div>
        </div>

    </section>

</main>

<%- include ('../partial/footer') %>
    
    </body>
    </html>