<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

    <main>
    <div id="products" class="products-title">
        <h4>Scrunchie Mariquitas</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/accesoriosScrunchies" ><img src="/images/Products/accesorios/coletero-mariquitas.jpg" alt="scrunchie-mariquitas" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Scrunchie Mariquitas</div>
        <p class="product-description">
            DESCRIPCION: Lo primero que te dijeron al llegar al hospital fue: "Tienes que llevar el pelo recogido". Al principio no te hacía ninguna gracia... Pero luego te diste cuenta que cuando hacías malabares para curar una úlcera en el talón de un paciente era mejor tener todo tu pelo bien recogido. Por esas veces en las que estabas sondando a un paciente y la "mechita" del flequillo se te ponía en medio de la cara y soplabas a ver si la apartabas.... ¡Pero no! Por todas esas anécdotas y con el fin de retirar el crepé anudado en nuestros pelos... ¡les traemos estos scrunchies!
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Coletero de goma elástica con tela fruncida. </li>
            <li>Fácil lavado el lavadora. </li>
            <li>Hecho a mano.</li>
            
        </ol>
    </div>
    </div>
        </div>
    </section>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>