<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


    <main>
    <div id="products" class="products-title">
        <h4>Tijera Azul</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/accesoriosTijera" ><img  src="/images/Products/accesorios/tijera-azul.jpg" alt="tijera-azul" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Tijera Azul</div>
        <p class="product-description">
            DESCRIPCION: Toda enfermera que se preste debe contar con unas tijeras de pico de pato para proteger a sus pacientes (y evitar horribles accidentes). ¡Desecha las tijeras de plástica del colegio y hazte con ellas!
            CARACTERÍSTICAS:</p>
        <ol>
            <li>-Tijeras de pico de pato de 14 cm. </li>
            <li>-Fabricadas en acero inoxidable</li>
        </ol>
            </div>
        </div>
    </div>
    </section>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>
