<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

<main>
    <div id="products" class="products-title">
        <h5>Ambos</h5>
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/elleganceFire" ><img  src="/images/Products/ambos/ambo-hombre.jpg" alt="ambo-de-hombre" class="products-img-ambos"></a>
    
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$15000</div>
            <div class="article-text">ELLEGANCE FIRE - Ambo escote V </div>
        
        </div>

        <div class="contenedor-img-ambos">

            <a href="/blusonMariquitas" ><img src="/images/Products/ambos/bluson-microfibra-mariquitas.jpg" alt="imagen de proyecto" class="products-img-ambos"></a>
            
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$10000</div>
            <div class="article-text">BLUSON MICROFIBRA – MARIQUITAS</div>
        
    </div>

        <div class="contenedor-img-ambos">

            <a href="/blusonUnisex" ><img src="/images/Products/ambos/bluson-unisex-microfibra-estampado-veterinario.jpg" alt="imagen de proyecto" class="products-img-ambos"></a>
        
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$10000</div>
            <div class="article-text">BLUSÓN UNISEX MICROFIBRA ESTAMPADO </div>

            </div>

        <div class="contenedor-img-ambos">

            <a href="/guardapolvo" ><img src="/images/Products/ambos/guardapolvo-mujer.jpg" alt="guardapolvo-blanco" class="products-img-ambos"></a>
        
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$15000</div>
            <div class="article-text">GUARDAPOLVO – PINKY - tela Arciel</div>
        </div>

    </section>

</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    
    
    