<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


    <main>
    <div id="products" class="products-title">
        <h4>Anotador Cuidar</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
        <div class="card">
        <a href="/anotadorCuidar"><img
            src="/images/Products/anotadores/anotador-2.jpg"
            alt="anotador-Cuidar"
            class="products-img-ambos"
        /></a>
        <div class="card-body">
        <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Anotador Cuidar tapa dura</div>
        <p class="product-description">
            DESCRIPCION: Este cuaderno de espiral presenta una colorida portada
            con ilustraciones relacionadas con la salud, como profesionales
            médicos, equipos médicos y símbolos como una cruz roja. El fondo es
            de color azul claro, y las ilustraciones están en estilo de
            caricatura. Los textos en la portada incluyen las palabras "CUIDAR"
            y "CUIDARME", además de la frase "El trabajo de soñar es ser feliz."
            Es perfecto para profesionales de la salud o cualquier persona que
            desee agregar un toque de alegría a sus apuntes.
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Tapa dura colorida y resistente.</li>
            <li>Encuadernación en espiral para fácil manejo.</li>
            <li>Banda elástica para mantenerla cerrada.</li>
            <li>Ilustraciones temáticas y alegres.</li>
        </ol>
    </div>
        </div>
        </div>
    </section>
    </main>
    
    <%-include('../partial/footer')  %>

</body>
</html>
