<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h5>Anotador Motiva</h5>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card"> 
            <a href="/anotadorMotiva" ><img  src="/images/Products/anotadores/anotador-1.jpg" alt="anotador-Motiva" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Anotador Motiva tapa dura</div>
            <p class="product-description">
                DESCRIPCION:
                Estas libretas en espiral tienen portadas coloridas con ilustraciones y palabras inspiradoras: 
                "MOTIVA," "EDUCA," "APOYA," "AYUDA," y "INFLUYE." Las portadas incluyen dibujos de libros, laptops, 
                plantas, tazas de café y material de papelería. Una de las libretas tiene una banda elástica de color 
                teal para mantenerla cerrada. Su diseño vibrante y juguetón las hace ideales para estudiantes o cualquier 
                persona interesada en la educación y la motivación. 
    CARACTERÍSTICAS:</p>
    <ol>
        <li> Tapa dura colorida y resistente.</li>
        <li>Encuadernación en espiral para fácil manejo.</li>
        <li>Banda elástica para mantenerla cerrada.</li>
        <li>Ilustraciones inspiradoras y educativas en la portada.</li>
    </ol>
        </div>
            </div>    
    </div>

    </section>
</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    