<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>

    <main>
    <div id="products" class="products-title">
        <h4>Anotador Valiente</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">          
                <a href="/anotadorValiente"><img src="/images/Products/anotadores/anotador-4.jpg" alt="anotador-valiente" class="products-img-ambos"></a>
            <div class="card-body">        
                <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Anotador Valiente tapa dura</div>
        <p class="product-description">
            DESCRIPCION: Este cuaderno con espiral cuenta con una tapa colorida adornada con diversas ilustraciones y frases motivacionales en español. Entre las ilustraciones, se encuentran libros, calendarios, botellas de agua, bolígrafos, notas adhesivas y prendas de vestir. Las frases incluyen "ERES MUY VALIENTE" y "A POR EL EIR." Además, tiene una banda elástica rosa en el lado derecho que mantiene el cuaderno cerrado, siendo perfecto para tomar notas y llevar motivación a donde vayas.
        CARACTERÍSTICAS:</p>
        <ol>
            <li>Tapa dura con ilustraciones de gatos.</li>
            <li>Frases motivacionales en español.</li>
            <li>Banda elástica para mantenerlo cerrada.</li>
            <li>Encuadernación en espiral para un fácil manejo.</li>
        </ol>
    </div>
</div>
        </div>
    </section>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>
