<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


    <main>
    <div id="products" class="products-title">
        <h4>Jarro térmico 350ml</h4s>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/bazarCorazon"><img  src="/images/Products/bazar/jarro-corazon.jpg" alt="jarro-corazon" class="products-img-ambos"></a>
        <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Jarro térmico</div>
        <p class="product-description">
            DESCRIPCION: Esta taza de viaje presenta un diseño único y encantador que combina un corazón anatómico estilizado con varios instrumentos quirúrgicos. El fondo es de color rosa con ilustraciones dispersas de herramientas médicas. La inscripción en la taza dice "El corazón de las INSTRUMENTADORAS QUIRÚRGICAS," destacando la importancia y dedicación de los instrumentadores quirúrgicos en el campo médico. Perfecta para llevar tu bebida favorita mientras rindes homenaje a estos profesionales vitales.
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Corazón anatómico y herramientas quirúrgicas</li>
            <li>Capacidad 350ml</li>
            <li>Material: PVC resistente </li>
            
        </ol>
    </div>
        </div>
        </div>
    </section>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>