<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


    <main>
    <div id="products" class="products-title">
        <h4>Taza de cerámica</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/bazarPediatria" ><img src="/images/Products/bazar/taza-pediatra.jpg" alt="taza-pediatra" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Taza de cerámica</div>
        <p class="product-description">
            DESCRIPCION: Esta encantadora taza de cerámica blanca presenta un diseño alegre y colorido de un pediatra con cabello rojo y una camisa verde con un estetoscopio. Acompañado de una jirafa al lado de un medidor de altura y pequeños animales y elementos médicos, es perfecta para alegrar tus mañanas mientras disfrutas de tu bebida favorita. Ideal para pediatras o cualquier amante de los diseños divertidos y únicos. 
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Material: Cerámica blanca.</li>
            <li>Capacidad: 350 ml.</li>
            <li>Diseño: Pediatra con elementos médicos y animales.</li>
            
        </ol>
    </div>
</div>
        </div>
    </section>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>