
<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h4>Blusón unisex Veterinario</h4>
    </div>
    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
                <a href="/blusonUnisex" ><img  src="images/Products/ambos/bluson-unisex-microfibra-estampado-veterinario.jpg" alt="Chaqueta-Unisex" class="products-img"></a>
                <div class="card-body">
                    <div class="fav">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="article-text">$10000</div>
                    <div class="article-text">BLUSÓN UNISEX MICROFIBRA ESTAMPADO – VETERINARIO</div>
                    <p class="product-description">
                        DESCRIPCION:
                        Amantes de los animales, aquí tienes tu nuevo blusón repelente al pelo de las mascotas, y sobre todo cómodo. Vamos a mimar un poquito nuestro cuerpo que bien merecido lo tiene. Muy cómodo, de microfibra y repelente de líquidos.
        Elige este uniforme de veterinario de microfibra y descubrirás que todo son ventajas:
        Es un tejido antibacterias
        Repele los líquidos (las salpicaduras en la parte exterior le "resbalan")
        Su especial tratamiento lo convierte en un tejido muy transpirable
        No necesita plancha
        Seca muy rápido
        Lavable a 90ºC(no se alteran los colores ni dibujos)
        Tiene tolerancia a las salpicaduras de lejía
        Esto desmonta casi todas tus creencias sobre la microfibra, ¿verdad? Quizá creías que era un tejido poco transpirable o muy delicado...
        Todas estas características han sido probadas y certificadas para estas prendas por AITEX (Instituto Tecnológico Textil).
        ¿Necesitas más razones para decidirte a probarlo? Se trata de prendas confeccionadas en España, por una empresa nacional que cuida de todos los detalles a lo largo de todo el proceso de producción, para garantizarte la mayor satisfacción con la calidad del producto.
                        CARACTERÍSTICAS:</p>
                        <ol class="olBluson">
                            <li>* Diseño unisex</li>
                            <li>* Cuello pico</li>
                            <li>* Dos bolsillos </li>
                            <li>* Aberturas laterales para mayor libertad de movimientos</li>
                            <li>* Disponible desde la talla XS hasta la 3XL</li>
                        </ol>
            </div>
            </div>
            </div>
            </section>
        </main>
    
<%-include('../partial/footer') %>

    </body>
    </html>
    