<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    
    <div id="products" class="products-title">
        <h4>Ellegance-Fire</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
                <a href="/elleganceFire"><img src="/images/Products/ambos/ambo-hombre.jpg" alt="ambo-de-hombre" class="products-img"></a>
                <div class="card-body">
                    <div class="fav">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="article-text">$15000</div>
                    <div class="article-text">ELLEGANCE FIRE - Ambo escote V</div>
                    <p class="product-description">
                        DESCRIPCIÓN: Ambo escote V confeccionado en tela ARCIEL (65% polyester – 35% Viscosa). Negro con vivos rojos. Pantalón recto liso para que combines con cualquier chaqueta que tengas vos.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<%-include('../partial/footer') %>

</body>
</html>
