
<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h4>GUARDAPOLVO PINKY - tela Arciel</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
<div class="card">

            <a href="/guardapolvo" ><img src="/images/Products/ambos/guardapolvo-mujer.jpg" alt="guardapolvo-blanco" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$15000</div>
            <div class="article-text">GUARDAPOLVO PINKY - tela Arciel</div>
            <p class="product-description">
                DESCRIPCION:
                Confeccionado en tela Arciel (65% Polyester, 35% Viscosa) con vivo ROSA FUERTE
3/4 Manga
Puño reversible a elección
Aberturas controladas laterales para que estés cómoda en cualquier posición aunque tengas el delantal cerrado, inclusive sentada
5 Botones
3 Bolsilleros (1 superior pequeño y 2 inferiores muy amplios para poder llevar todo con vos)</p>
        
</div>
</div>
    </div>
    </section>
</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    