
<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h4>Lanyard cosas de Hospi</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">
            <a href="/lanyardHospi" ><img  src="/images/Products/lanyard/LANYARD-_COSAS-scaled.jpg" alt="lanyard-hospi" class="products-img-ambos"></a>
            <div class="card-body">
                <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard cosas de Hospi</div>
            <p class="product-description">
                DESCRIPCION:
                Hemos creado  este lanyard de cosas de Hospi al estilo de la enfermera al rescate.
Lo hemos diseñado pensando en tí, para que lo luzcas y te diferencies con este lanyard único y especial.
Con hebilla delantera para separar las tijeras fácilmente y con enganche de seguridad atrás en color rosa palo.
Lo podrás utilizar colgado del cuello con tu tarjeta identificativa, o para tus tijeritas, pinzas, llaves o lo que te apetezca
    CARACTERÍSTICAS:</p>
    <ol>
        <li>Hebilla en la parte delantera en plástico de color lila </li>
        <li>Separador de seguridad en la parte trasera en plástico de color lila </li>
        <li>Mini gancho para llevar las tijeras o lo que más necesites</li>
    </ol>
    </div>
    </div>        
    </div>

    </section>
</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    