<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    <div id="products" class="products-title">
        <h5>Zuecos</h5>
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/zuecoColorful" ><img  src="/images/Products/zuecos/zueco-sanitario-piel-vegana-colorful.jpg" alt="zueco-colorful" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$15000</div>
            <div class="article-text">Zueco sanitario piel vegana Colorful</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/zuecoVelcro" ><img src="/images/Products/zuecos/zapato-piel-vegana-velcro-virus-collection.jpg" alt="zapato-piel-vegana-velcro-virus-collection" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$10000</div>
            <div class="article-text">Zapato piel vegana velcro - Virus Collection</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/zuecoLavable" ><img src="/images/Products/zuecos/zueco-sanitario-piel-lavable-wash-go-azul.jpg" alt="zueco-sanitario-piel-lavable-wash-go-azul" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$10000</div>
            <div class="article-text">Zueco sanitario Piel Lavable Wash'Go - Azul</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/zuecoAntiestatico" ><img src="/images/Products/zuecos/zueco-sanitario-eva-antiestatico-blanco.jpg" alt="zueco-sanitario-eva-antiestatico-blanco" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$15000</div>
            <div class="article-text">Zueco sanitario EVA Antiestático – blanco</div>
        </div>

    </section>

</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    
