
<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h4>Zueco sanitario EVA Antiestático – blanco</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">
            <a href="/zuecoAntiestatico"><img  src="/images/Products/zuecos/zueco-sanitario-eva-antiestatico-blanco.jpg" alt="zueco-sanitario-eva-antiestatico-blanco" class="products-img"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$20000</div>
            <div class="article-text">Zueco sanitario EVA Antiestático – blanco</div>
            <p class="product-description">
                DESCRIPCION:
                Todas las ventajas del zueco EVA, ahora también antiestático.
                Lleva incorporada una pieza especial en el talón, que le otorga funciones anitestáticas.
                Evita las molestas descargas (chispazos) producidos por la acumulación de energía estática.
                
                Recomendado para servicios que exijan un contacto directo con aparatos eléctricos y electrónicos (bloques quirúrgicos, UCI, esterilización...).
                
                * Fabricado en EVA, superligeros (sólo 125 grs)                
<ol>
    <li>* Antiestáticos</li>
    <li>* Antideslizantes</li>
    <li>* Antimicrobianos</li>
    <li>* Muy cómodos</li>
    <li>* Anatómicos y ergonómicos</li>
</ol></p>
        </div>
        </div>
    </div>

    </section>
</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    