<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


<main>
    

    <div id="products" class="products-title">
        <h4>Zueco sanitario Piel Lavable Wash'Go – Azul</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">
            <a href="/zuecoLavable" ><img  src="/images/Products/zuecos/zueco-sanitario-piel-lavable-wash-go-azul.jpg" alt="zueco-sanitario-piel-lavable-wash-go-azul" class="products-img"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$20000</div>
            <div class="article-text">Zueco sanitario Piel Lavable Wash'Go – Azul</div>
            <p class="product-description">
                DESCRIPCION:
                El zueco Wash'Go es la solución perfecta para las que estáis hartas de la goma, o preferís la comodidad y suavidad de la piel.
Porque aúna lo mejor de ambos materiales: suave como sólo la piel natural puede serlo, y fácil de limpiar como los materiales plásticos (a la lavadora, y punto).
Todo ello sin renunciar a los requisitos más exigentes para el calzado laboral:

<ol>
    <li>Antiestáticos</li>
    <li>Antideslizantes</li>
    <li>Absorción de impactos</li>
    <li>Anatómicos</li>
    <li>Con correa ajustable</li>
</ol></p>
        
    </div>
    </div>
    </div>
</section>
</main>

<%-include('../partial/footer') %>
    
    </body>
    </html>
    