

.logo-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}


.logo {
    width: 58px;
    height: auto;
    border-radius: 1em;
    padding-left: 20px;
    margin-right: 10px;
}

h4 {
    margin-top: 6.1em;
}

header {
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}



nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group-addon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: var(--text-color--);
    pointer-events: none;  
}

.placeholder {
    padding: 10px 30px;  
    width: 100%;       
    font-size: 16px;    
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--text-color--);
}

.fa-solid, .fas {
    font-weight: 900;
    padding-right: 20px;
}

.user {
    position: relative;
    z-index: 10;
}


.user-icon, .cart-icon, .login-icon, .logout-icon { 
    font-size: 30px;
    color: var(--text-color--);
    margin-right: 15px;
}

.register-icon { 
    font-size: 30px; 
    color: var(--text-color--); 
    margin-right: 15px; 
    
}

ul {
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

ul li {
    position: relative;  
    padding: 0 20px;  
    display: flex;
    align-items: center;  
    justify-content: center;  
}

ul li + li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
}  

ul li a {
    color: black;
    text-decoration: none;
    display: block;  
    text-align: center;  
    width: 100%;  
}

ul li a:hover {
    color: #000;
    text-decoration: underline;
}



/* CARRUSEL */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    flex: 1 0 100%;
    text-align: center;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.carousel input {
    display: none;
} 

 /* Mostrar la imagen seleccionada */
#carousel-1:checked ~ .carousel-inner {
    transform: translateX(0%);
}

#carousel-2:checked ~ .carousel-inner {
    transform: translateX(-100%);
}

#carousel-3:checked ~ .carousel-inner {
    transform: translateX(-200%);
}

#carousel-4:checked ~ .carousel-inner {
    transform: translateX(-300%);
}

#carousel-5:checked ~ .carousel-inner {
    transform: translateX(-400%);
}

.carousel-nav {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav label {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
} 

/* Ofertas */

h5{
    font-size: 60px;
}

.offers{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.products {
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    margin: 0;
    height: auto;
} 
.products img {
    width: 100%;       /* Ocupa todo el ancho del contenedor */
    height: auto;      /* Ajusta la altura proporcionalmente */
    object-fit: contain; /* Asegura que la imagen no se recorte */
    border-radius: 10%;
}


    .article {
    width: 150%;
    margin-bottom: 1em;
    text-align: center;
    box-sizing: border-box;
    }
    
    
    .fav {
    display: flex;
    font-size: 30px;
    padding: 0.5em;
    box-sizing: border-box;
    }

    
    .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box
    }
    
    
    .precio {
    font-size: 30px;
    color:var(--text-color--);
    font-weight: bold;
    margin-bottom: 0.5em;
    }

    
    .descr {
    color:var(--text-color--);
    font-size:30px;
    text-align: center;
    margin-bottom: 5em;
    }

    /* footer */

    footer {
        background-color: var(--light-gray-color);
        padding: 5px 1px;
        box-sizing: border-box;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer-section {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }
    
    .footer-section h3 {
        color: var(--primary-color);
        margin-bottom: 10px;
    }
    
    .footer-section ul {
        text-align: left;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        list-style-type: none;
        padding: 0;
        box-sizing: border-box;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
    }

    .footer-section ul li a {
        color: var(--text-color);
        text-decoration: none;
    }
    
    .footer-section p {
        margin: 5px 0;
    }
    
    .social-icons {
        display: flex;
        gap: 10px;
    }

    .social-icons a {
        color: var(--primary-color);
        font-size: 24px;
        text-decoration: none;
    }
    
    .newsletter form {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .newsletter input[type="email"] {
        padding: 5px;
        margin-bottom: 10px;
        border:  1px solid var(--primary-color);
        border-radius: 4px;
    }
    
    .newsletter button {
        background-color: rgb(33, 183, 243);
        border: none;
        color: var(--text-color);
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .newsletter div {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .newsletter label {
        margin-left: 5px;
        font-size: 14px;
    }
    


footer button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(33, 183, 243);
    color: rgb(7, 115, 158);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
}


.Copyright {
    margin-top: 20px;
    font-size: 12px;
    color: var(--color-grisoscuro);                                                       
    margin-top: 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

header .input-group {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    width: auto; 
}

header .form-control {
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0.5rem 0.75rem;
    margin-right: 0;
    flex-grow: 2; 
}

header .input-group-text {
    background-color: #f8f9fa; 
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    display: flex;
}

header .input-group-text i {
    padding-right: 0; 
    margin-left: 5px;
    color: var(--text-color--);
    font-size: 20px;
}

.destacados-container {
    background-color: #e0b0ff; 
    padding: 10px 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    overflow: hidden; 
    border-radius: 70%;
}

.destacados-titulo {
    color: #ff69b4; 
    font-size: 3rem; 
    white-space: nowrap; 
    animation: moverTexto 10s linear infinite alternate; 
}

@keyframes moverTexto {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

  /* Estilos para "Ofertas" */
.ofertas-titulo {
    font-size: 3rem;
    color: #ff69b4; 
    background-color: rgb(232, 241, 241);
    color: red;
    text-align: center;
    animation: moverTexto 10s linear infinite alternate; 
    padding: 15px 0; 
    border-radius: 70%;
}

@keyframes parpadear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


