

.input-register{
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--text-color);
    border-radius: 4px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray-color);
    padding: 2rem;
    border-radius: 8px;
}