main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.articles {
    height: 50%;
    width: 50%;
    min-height: 101vh;
    position: unset;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.products-img {
    width: 100%;
    border-radius: 10%;
    margin: 10px 0;
    height: auto;
}

.products-img:hover {
    box-shadow: 0px 0px 10px rgb(235, 3, 243);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-text, .product-description {
    font-size: 100%;
    margin-top: 10px;
    line-height: 1.6;
    padding: 0;
    box-sizing: border-box;
    white-space: normal;
    overflow: visible;
    transition: none;
    opacity: 1; /* Mantener la descripción visible siempre */
}

.card-body:hover .article-text {
    opacity: 1;
    animation: typing 4s steps(40, end) 1, blink-caret 0.75s step-end infinite;
}

ol {
    text-align: left;
    font-size: 100%;
    background-color: var(--primary-color);
    text-decoration: none;
    display: flex;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
