<%-include('partial/head') %>

<body>
    <%-include('partial/header') %>

<main>
    <div id="products" class="products-title">
        <h5>Anotadores</h5>
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/anotadorMotiva"><img  src="/images/Products/anotadores/anotador-1.jpg" alt="anotador-Motiva" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Anotador Motiva tapa dura</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/anotadorCuidar"><img src="/images/Products/anotadores/anotador-2.jpg" alt="anotador-Cuidar" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Anotador Cuidar tapa dura</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/anotadorCoolCoco"><img src="/images/Products/anotadores/anotador-3.png" alt="anotador-CoolCoco" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Anotador Cool Coco tapa dura</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/anotadorValiente"><img src="/images/Products/anotadores/anotador-4.jpg" alt="anotador-valiente" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Anotador Valiente tapa dura</div>
        </div>

    </section>

</main>

<%-include('partial/footer')  %>
    
    </body>
    </html>