<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

    <main>
    <div id="products" class="products-title">
        <h4>Jarro térmico 350ml</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/bazarOftal"><img src="/images/Products/bazar/jarro-oftalmologo.jpg" alt="jarro-oftalmologo" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Jarro térmico 350ml</div>
        <p class="product-description">
            DESCRIPCION: Esta taza de viaje es perfecta para profesionales de la oftalmología o cualquier amante del diseño médico. Con un color blanco y un diseño colorido que presenta dos personajes de dibujos animados, una tabla de examen de la vista y la palabra "Oftalmología" en letras verdes, esta taza seguramente alegrará tu día. Es ideal para llevar tu bebida favorita mientras rindes homenaje a los oftalmólogos que cuidan de nuestra visión.
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Material: PVC resistente</li>
            <li>Capacidad: 350 ml.</li>
            <li>Diseño: Personajes de dibujos animados y tabla de examen de la vista.</li>
            
        </ol>
    </div>
</div>
        </div>
    </section>
    </main>

    <%-include('partial/footer') %>
    
</body>
</html>