<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>
    
    <main>
    <div id="products" class="products-title">
        <h4>Taza de cerámica</h4>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <div class="card">
            <a href="/bazarCamillero"><img src="/images/Products/bazar/taza-camillero.jpg" alt="taza-camillero" class="products-img-ambos"></a>
        <div class="card-body">
            <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Taza de cerámica</div>
        <p class="product-description">
            DESCRIPCION: Esta taza de cerámica blanca presenta un diseño divertido y colorido de un personaje animado vestido como un camillero, sobre un fondo de explosión en colores negro y amarillo. Con capacidad de 350 ml, es perfecta para alegrar tu día con un toque de humor mientras disfrutas de tu bebida favorita. Ideal para profesionales de la salud o cualquiera que quiera añadir un toque de alegría a su rutina diaria de café.
            CARACTERÍSTICAS:</p>
        <ol>
            <li>Material: Cerámica blanca.</li>
            <li>Capacidad: 350 ml.</li>
            <li>Diseño: Personaje animado de camillero con fondo de explosión.</li>
            
        </ol>
    </div>
</div>
        </div>
    </section>
    </main>

    <%-include('partial/footer')%>

</body>
</html>