<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
    src="https://kit.fontawesome.com/95801be2e2.js"
    crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
    <nav class="nav">
        <div>
        <img src="/images/logo.png" alt="Logo" class="logo" />
        </div>
        <div>
        <form>
            <div class="input-group">
            <span class="input-group-addon"
                ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
            <input class="placeholder" type="search" placeholder="Buscar" />
            </div>
        </form>
        </div>
        <div class="user">
        <i class="fa-solid fa-user-plus user-icon"></i>
        <i class="fa-solid fa-bag-shopping cart-icon"></i>
        </div>
    </nav>
    <nav>
        <ul>
        <li><a href="/ambos" target="_blank">Ambos</a></li>
        <li><a href="/zuecos" target="_blank">Zuecos</a></li>
        <li><a href="/lanyard" target="_blank">Lanyard</a></li>
        <li><a href="/anotadores" target="_blank">Anotadores</a></li>
        <li><a href="/accesorios" target="_blank">Accesorios</a></li>
        <li><a href="/bazar" target="_blank">Bazar</a></li>
        </ul>
    </nav>
    </header>
    <main>
    <div id="products" class="products-title">
        <h5>Jarro térmico 350ml</h5>
    </div>

    <section class="articles" aria-label="Articles">
        <div class="contenedor-img">
            <a href="/bazarOftal" target="_blank"><img src="/images/Products/bazar/jarro-oftalmologo.jpg" alt="jarro-oftalmologo" class="products-img-ambos"></a>
        <div class="fav">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="article-text">$5000</div>
        <div class="article-text">Jarro térmico 350ml</div>
        <p class="product-description">
            DESCRIPCION: Esta taza de viaje es perfecta para profesionales de la oftalmología o cualquier amante del diseño médico. Con un color blanco y un diseño colorido que presenta dos personajes de dibujos animados, una tabla de examen de la vista y la palabra "Oftalmología" en letras verdes, esta taza seguramente alegrará tu día. Es ideal para llevar tu bebida favorita mientras rindes homenaje a los oftalmólogos que cuidan de nuestra visión.</p>
        <p class="product-description">CARACTERÍSTICAS:</p>
        <ol>
            <li>Material: PVC resistente</li>
            <li>Capacidad: 350 ml.</li>
            <li>Diseño: Personajes de dibujos animados y tabla de examen de la vista.</li>
            
        </ol>
        </div>
    </section>
    </main>

    <footer>
    <div class="part-footer">
        <aside class="redes">
        <form>
            <div class="input-group">
            <span class="input-group-addon"
                ><i class="fa-regular fa-comment"></i
            ></span>
            <input
                class="placeholder"
                type="text"
                placeholder="Dejanos tu comentario"
            />
            </div>
        </form>
        <div class="icons-redes">
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#" target="_blank"
            ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        </aside>
    </div>

    <div class="part-footer">
        <section class="footer">
        <div class="icon-size"><i class="fa-solid fa-credit-card"></i></div>
        <h4 class="title-footer">Pagá con tarjeta o en efectivo</h4>
        <p>
            tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y siempre es seguro!
        </p>
        </section>

        <section class="footer">
        <div class="icon-size"><i class="fa-solid fa-gift"></i></div>
        <h4 class="title-footer">Envío gratis desde $ 20.000</h4>
        <p>
            Solo por estar registrad@ en nuestra página tenés envíos gratis en
            todos los productos. Es un beneficio de nuestra comunidad.
        </p>
        </section>

        <section class="footer">
        <div class="icon-size"><i class="fa-solid fa-user-shield"></i></div>
        <h4 class="title-footer">Seguridad de principio a fin.</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! en nuestra página, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
        </p>
        </section>

        <div class="Copyright">
        <p>© 2024 ZNTABARE, todos los derechos reservados.</p>
        </div>
    </div>

    <button onclick="scrollToTop()">Volver al principio</button>

    <script>
        function scrollToTop() {
        window.scrollTo({ top: 0, behavior: "smooth" });
        }
    </script>
    </footer>
</body>
</html>