<%-include('partial/head') %>

<body>

    <%-include('partial/header') %>

<main>
    <div id="products" class="products-title">
        <h5>Bazar</h5>                                                                                                                                              
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/bazarCorazon" ><img  src="/images/Products/bazar/jarro-corazon.jpg" alt="jarro-corazon" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Jarro Térmico</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/bazarOftal" ><img src="/images/Products/bazar/jarro-oftalmologo.jpg" alt="jarro-oftalmologo" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Jarro Térmico</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/bazarCamillero" ><img src="/images/Products/bazar/taza-camillero.jpg" alt="taza-camillero" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Taza de cerámica</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/bazarPediatria" ><img src="/images/Products/bazar/taza-pediatra.jpg" alt="taza-pediatra" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Taza de cerámica</div>
        </div>

    </section>

</main>

<%-include('partial/footer') %>

    
    </body>
    </html>