<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/95801be2e2.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="nav">
        <div>
            <img src="/images/logo.png" alt="Logo" class="logo">
        </div>
        <div>
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="placeholder" type="search" placeholder="Buscar">
                </div>
            </form>
        </div>
        <div class="user">
            <i class="fa-solid fa-user-plus user-icon"></i>
            <i class="fa-solid fa-bag-shopping cart-icon"></i>
        </div>
    </nav>
    <nav>
        <ul>
            <li><a href="/ambos" target="_blank">Ambos</a></li>
            <li><a href="/" target="_blank">Zuecos</a></li>
            <li><a href="#" target="_blank">Lanyard</a></li>
            <li><a href="#" target="_blank">Anotadores</a></li>
            <li><a href="#" target="_blank">Accesorios</a></li>
            <li><a href="#" target="_blank">Bazar</a></li>
        </ul>
    </nav>
</header>
<main>
    

    <div id="products" class="products-title">
        <h5>Blusón unisex Veterinario</h5>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">

            <a href="/blusonUnisex" target="_blank"><img  src="images/Products/ambos/bluson-unisex-microfibra-estampado-veterinario.jpg" alt="Chaqueta-Unisex" class="products-img"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$10000</div>
            <div class="article-text">BLUSÓN UNISEX MICROFIBRA ESTAMPADO – VETERINARIO</div>
            <p class="product-description">
                DESCRIPCION:
                Amantes de los animales, aquí tienes tu nuevo blusón repelente al pelo de las mascotas, y sobre todo cómodo. Vamos a mimar un poquito nuestro cuerpo que bien merecido lo tiene. Muy cómodo, de microfibra y repelente de líquidos.
Elige este uniforme de veterinario de microfibra y descubrirás que todo son ventajas:
Es un tejido antibacterias
Repele los líquidos (las salpicaduras en la parte exterior le "resbalan")
Su especial tratamiento lo convierte en un tejido muy transpirable
No necesita plancha
Seca muy rápido
Lavable a 90ºC(no se alteran los colores ni dibujos)
Tiene tolerancia a las salpicaduras de lejía
Esto desmonta casi todas tus creencias sobre la microfibra, ¿verdad? Quizá creías que era un tejido poco transpirable o muy delicado...
Todas estas características han sido probadas y certificadas para estas prendas por AITEX (Instituto Tecnológico Textil).
¿Necesitas más razones para decidirte a probarlo? Se trata de prendas confeccionadas en España, por una empresa nacional que cuida de todos los detalles a lo largo de todo el proceso de producción, para garantizarte la mayor satisfacción con la calidad del producto.

                </p>
            <p class="product-description">
                CARACTERÍSTICAS:</p>
                <ol class="olBluson">
                    <li>* Diseño unisex</li>
                    <li>* Cuello pico</li>
                    <li>* Dos bolsillos </li>
                    <li>* Aberturas laterales para mayor libertad de movimientos</li>
                    <li>* Disponible desde la talla XS hasta la 3XL</li>
                </ol>

        </div>

    </section>
</main>

<footer>
    <div class="part-footer">
        <aside class="redes">
    
            
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-regular fa-comment"></i></span>
                        <input class="placeholder" type="text" placeholder="Dejanos tu comentario">
                    </div>
                </form>
            <div class="icons-redes">
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </aside>
    </div>
    
    <div class="part-footer">
        <section class="footer">
            <div class="icon-size"><i class="fa-solid fa-credit-card"></i></div>
            <h4 class="title-footer">Pagá con tarjeta o en efectivo</h4>
            <p>tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    
        <section class="footer">
            <div class="icon-size"><i class="fa-solid fa-gift"></i></div>
            <h4 class="title-footer">Envío gratis desde $ 20.000</h4>
            <p>Solo por estar registrad@ en nuestra página tenés envíos gratis en todos los productos. Es un beneficio de nuestra comunidad.</p>
        </section>
    
        <section class="footer">
            <div class="icon-size"><i class="fa-solid fa-user-shield"></i></div>
            <h4 class="title-footer">Seguridad de principio a fin.</h4>
            <p>¿No te gusta? ¡Devolvelo! en nuestra página, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    
        <div class="Copyright">
            <p>© 2024 ZNTABARE, todos los derechos reservados.</p>
        </div>
    </div>
    
    
        <button onclick="scrollToTop()">Volver al principio</button>
    
        <script>
            function scrollToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        </script>
    
    </footer>
    
    </body>
    </html>
    