<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/95801be2e2.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <header>
        <nav class="nav-1">
            <div class="img-size">
                <img src="/wireframes/logo.png" alt="Logo">
            </div>
            <div>
                <form>
                    <input class="size-placeholder" type="search" placeholder="Buscar productos...">
                    <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="">
                <i class="fa-solid fa-hand-holding-dollar"></i>Compras en cuotas y sin tarjetas de crédito
            </div>
        </nav>

        <nav class="nav-1">s
            <ul class="links">
                <li><a href="#" target="_blank">Ambos</a></li>
                <li><a href="#" target="_blank">Zuecos</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
                <li><a href="#" target="_blank">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="#" target="_blank">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
        </nav>

</header>

    
</body>
</html>