<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/95801be2e2.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header>
        <nav class="nav">
            <div>
                <img src="/images/logo.png" alt="Logo" class="logo">
            </div>
            <div>
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="placeholder" type="search" placeholder="Buscar">
                    </div>
                </form>
            </div>
            
            
            <div class="user">
                <i class="fa-solid fa-user-plus user-icon"></i>
                <i class="fa-solid fa-bag-shopping cart-icon"></i>
            </div>
        </nav>

        <nav>
            <ul>
                <li><a href="#" target="_blank">Ambos</a></li>
                <li><a href="#" target="_blank">Zuecos</a></li>
                <li><a href="#" target="_blank">Lanyard</a></li>
                <li><a href="#" target="_blank">Anotadores</a></li>
                <li><a href="#" target="_blank">Accesorios</a></li>
                <li><a href="#" target="_blank">Bazar</a></li>
        </nav>

</header>

    
</body>
</html>