<%- include('partial/head') %>

<body>
    <%- include('partial/header') %>

<main>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
    <!-- Secci칩n del Carrusel -->
    <section class="carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Cada slide del carrusel -->
                <div class="swiper-slide">
                    <a href="/accesoriosScrunchies"><img src="/images/Products/accesorios/coletero-mariquitas.jpg" alt="scrunchie-mariquitas" class="products-img-ambos"></a>
                </div>
                <div class="swiper-slide">
                    <a href="/bazarCorazon"><img src="/images/Products/bazar/jarro-corazon.jpg" alt="jarro-corazon" class="products-img-ambos"></a>
                </div>
                <div class="swiper-slide">
                    <a href="/blusonMariquitas"><img src="/images/Products/ambos/bluson-microfibra-mariquitas.jpg" alt="bluson-mariquitas" class="products-img-ambos"></a>
                </div>
                <div class="swiper-slide">
                    <a href="/lanyardEnfermeria"><img src="/images/Products/lanyard/lanyard-pro-enfermeria.jpg" alt="lanyard-enfermeria" class="products-img-ambos"></a>
                </div>
                <div class="swiper-slide">
                    <a href="/zuecoColorful"><img src="/images/Products/zuecos/zueco-sanitario-piel-vegana-colorful.jpg" alt="zueco-colorful" class="products-img"></a>
                </div>
            </div>

            <!-- Paginaci칩n -->
            <div class="swiper-pagination"></div>
            <!-- Navegaci칩n -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <div>
        <h5>Ofertas</h5>
    </div>
    
    <section class="offers">
        <!-- Productos -->
        <div class="products">
            <img class="article" src="/images/Products/bazar/taza-pediatra.jpg" alt="taza-pediatra">
            <div class="flex-container">
                <div class="fav">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="precio">$3500</div>
                <div class="descr">Taza de cer치mica</div>
            </div>
        </div>

        <div class="products">
            <img class="article" src="/images/Products/anotadores/anotador-3.png" alt="anotador">
            <div class="flex-container">
                <div class="fav">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="precio">$4200</div>
                <div class="descr">Anotador</div>
            </div>
        </div>

        <div class="products">
            <img class="article" src="/images/Products/accesorios/salvabolsillos-ciguena.jpg" alt="salvabolsillos">
            <div class="flex-container">
                <div class="fav">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="precio">$6000</div>
                <div class="descr">Salvabolsillos</div>
            </div>
        </div>
    </section>

</main>

<%- include('partial/footer') %>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/javascripts/carousel.js"></script>
<script src="/javascripts/index.js"></script> 
</body>

</html>

