
<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

<main>
    <div id="products" class="products-title">
        <h4>Lanyard</h4>
    </div>

    <section class="articles-ambos" aria-label="Articles">

        <div class="contenedor-img-ambos">

            <a href="/lanyardHospi" ><img  src="/images/Products/lanyard/LANYARD-_COSAS-scaled.jpg" alt="lanyard-Hospi" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard cosas de Hospi</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/lanyardHappiness"><img src="/images/Products/lanyard/LANYARD_HAPPINESS.jpg" alt="lanyard-Happiness" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard Happiness</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/lanyardEnfermeria" ><img src="/images/Products/lanyard/lanyard-pro-enfermeria.jpg" alt="lanyard-enfermeria" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard pro enfermería</div>
        </div>

        <div class="contenedor-img-ambos">

            <a href="/lanyardPrincipal" ><img src="/images/Products/lanyard/lanyard-principal.jpg" alt="lanyard-principal" class="products-img-ambos"></a>
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard Principal</div>
        </div>

    </section>

</main>

<%-include('partial/footer') %>
    
    </body>
    </html>
    
