
<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

<main>
    

    <div id="products" class="products-title">
        <h4>Lanyard corto con clip</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">

            <a href="/lanyardPrincipal"><img src="/images/Products/lanyard/lanyard-principal.jpg" alt="lanyard-principal" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard corto con clip</div>
            <p class="product-description">
                DESCRIPCION:
                Lo podrás utilizar colgado del cuello con tu tarjeta identificativa, 
                o para tus tijeritas, pinzas, llaves o lo que te apetezca. </p>
        
    </div>
    </div>
    </div>
    </section>
</main>

<%-include('partial/footer') %>

    </body>
    </html>
    