
<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

<main>
    

    <div id="products" class="products-title">
        <h4>Lanyard pro enfermería</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">

            <a href="/lanyardEnfermeria" ><img src="/images/Products/lanyard/lanyard-pro-enfermeria.jpg" alt="lanyard-enfermeria" class="products-img-ambos"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$5000</div>
            <div class="article-text">Lanyard pro enfermería</div>
            <p class="product-description">
                DESCRIPCION:
                ¿Hay algo más útil en el día a día de los enfermeros que un lanyard? Este Lanyard PRO está dirigido 
                a estudiantes y profesionales de la Enfermería. La profesión más bonita del mundo. Guardián de nuestras 
                tijeras y portador del esparadrapo multiusos. Y si además es bonito… Se llevan mejor los turnos. 
                CARACTERÍSTICAS:</p>
    <ol>
        <li>Lanyard 50 x 2 cm. Con mosquetón para colgar las tijeras.</li>
        <li>Clip para la identificación. </li>
        <li>Con enganche delantero para liberar las tijeras fácilmente.</li>
    </ol>
            </div>
            </div>
    </div>

    </section>
</main>

<%-include('partial/footer') %>
    
    </body>
    </html>
    