<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

<main>
    

    <div id="products" class="products-title">
        <h4>Zueco sanitario piel vegana – Colorful</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">
            <a href="/zuecoColorful"><img  src="/images/Products/zuecos/zueco-sanitario-piel-vegana-colorful.jpg" alt="zueco-sanitario-piel-vegana-colorful" class="products-img"></a>
            <div class="card-body">
            <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$20000</div>
            <div class="article-text">Zueco sanitario piel vegana – Colorful</div>
            <p class="product-description">
                DESCRIPCION:
                Descubre la combinación perfecta de estilo y funcionalidad con nuestros nuevos zuecos sanitarios Colorful. ¡Tu comodidad es nuestra prioridad!

Olvídate de los zuecos que no se ajustan correctamente. Nuestro diseño incluye un sistema de ajuste seguro para garantizar que tus pies se sientan cómodos y protegidos.

Conoce la comodidad que mereces durante largas jornadas. Nuestros zuecos están elaborados para adaptarse a las exigencias de tu trabajo. La plantilla ergonómica y la tecnología de amortiguación garantizan un soporte excepcional para tus pies, reduciendo la fatiga incluso en las jornadas más intensas.
                CARACTERÍSTICAS:</p>
                <ol>
                    <li>* Suela de EVA Comfortlight Antideslizante</li>
                    <li>* Plantillas de piel-EVA forradas en piel, antibacterianas, transpirables y recambiables.</li>
                    <li>* Seguridad activa y pasiva: se adapta al pie y cierra con el sistema de velcro, absorbiendo los impactos y ofreciendo un máximo confort, evitando riesgos y caídas por destalonamiento.</li>
                    <li>* Horma anatómica y ergonómica.</li>
                    <li>* Antideslizante según la normativa UNE-EN ISO 13287:2013.</li>
                </ol>

        </div>
    </div>
</div>
    </section>
</main>

<%-include('partial/footer') %>
    
    </body>
    </html>
    