<%-include('partial/head') %>

<body>
    
    <%-include('partial/header') %>

<main>
    

    <div id="products" class="products-title">
        <h4>Zapato piel vegana velcro - Virus Collection</h4>
    </div>

    <section class="articles" aria-label="Articles">

        <div class="contenedor-img">
            <div class="card">
            <a href="/zuecoVelcro"><img  src="/images/Products/zuecos/zapato-piel-vegana-velcro-virus-collection.jpg" alt="zapato-piel-vegana-velcro-virus-collection" class="products-img"></a>
            
            <div class="card-body">
                <div class="fav">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="article-text">$20000</div>
            <div class="article-text">Zapato piel vegana velcro - Virus Collection</div>
            <p class="product-description">
                DESCRIPCION:
                El zapato sanitario cerrado más ligero, cómodo y bonito del mercado. Zapatos cerrados para enfermeras con el estampado más fresco, a juegos con otros productos de la misma colección.

Los nuevos zuecos con estampado divertido de virus para enfermeras son una forma de añadir un toque de personalidad y humor a los uniformes de trabajo. Estos zuecos tienen un diseño único que presenta virus de diferentes formas y colores, lo que los convierte en una excelente opción para aquellos profesionales de la salud que quieren destacar entre la multitud.

Además de su aspecto llamativo, estos zuecos están diseñados pensando en la comodidad y la seguridad de los trabajadores de la salud. Están fabricados con materiales de alta calidad que proporcionan una excelente amortiguación y soporte para los pies durante largas jornadas de trabajo.
                CARACTERÍSTICAS:</p>
                <ol>
                    <li>* Suela de EVA Comfortlight Antideslizante</li>
                    <li>* Plantillas de piel-EVA forradas en piel, antibacterianas, transpirables y recambiables.</li>
                    <li>* Seguridad activa y pasiva: se adapta al pie y cierra con el sistema de velcro, absorbiendo los impactos y ofreciendo un máximo confort, evitando riesgos y caídas por destalonamiento.</li>
                    <li>* Cierre sencillo y práctico con el velcro, ajustando a la necesidad de tu pie.</li>
                    <li>* Sello VEGANO de INESCOP (asegura que en la fabricación del zueco no se utilizan materiales de origen animal)</li>
                </ol>

        </div>
        </div>
        </div>
    </section>
</main>

<%-include('partial/footer') %>
    
    </body>
    </html>
    