

<header>
    <nav class="nav">
        <div>
            <img src="/uploads/logo.png" alt="Logo" class="logo">
        </div>
        <div>
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="placeholder" type="search" placeholder="Buscar">
                </div>
            </form>
        </div>
        <div class="user">
            <a href="/login"><i class="fa-solid fa-right-to-bracket login-icon"></i></a>
            <a href="/register"><i class="fa-solid fa-user-plus user-icon"></i></a>
            <a href="/cart"><i class="fa-solid fa-bag-shopping cart-icon"></i></a>
        </div>

        <div class="hamburger-menu" id="hamburger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </nav>

    <nav class="main-nav">
        <ul id="nav-list">
            <li><a href="/products/category?category=Ambos">Ambos</a></li>
            <li><a href="/products/category?category=Zuecos">Zuecos</a></li>
            <li><a href="/products/category?category=Lanyard">Lanyard</a></li>
            <li><a href="/products/category?category=Anotadores">Anotadores</a></li>
            <li><a href="/products/category?category=Accesorios">Accesorios</a></li>
            <li><a href="/products/category?category=Bazar">Bazar</a></li>
        </ul>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-cl-pr">
        <div class="container">
            <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products/allProducts">Todos los productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Administrador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/add">Agregar producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                </li>
            </ul>
        </div>
    </nav>
</header>