<div class="contenedor-img">
    <div class="card">
        <img src="<%= product.image %>" alt="<%= product.name %>" class="products-img-ambos">
    <div class="card-body">
    <div class="fav">
    <i class="fa-solid fa-heart"></i>
    <i class="fa-solid fa-bag-shopping"></i>
</div>