.Dashboard {
    background-color: #6e048f;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.panel {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.panel h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #c975d4;
}

.panel-content {
    font-size: 1.2em;
    color: #0c0b0b;
}

.panel-value {
    font-size: 2em;
    color: #007bff;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.pagination button:hover {
    background-color: #0056b3;
}
.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.pagination button:disabled:hover {
    background-color: #ccc;
}


