<div class="bg-dark text-white text-center py-5">
    
    <a class="navbar-brand" href="/"><img src="/uploads/logo.png" alt="Logo" class="logo d-inline-block align-middle">
    <p class="mb-0 fs-1">PARA LA SALUD E-COMMERCE</p>
</div>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-cl-pr">
        <div class="container-fluid">
            
                <% if (locals.user) { %>
                    <span class="user-name text-primary fw-bold me-3">Hola, <%= user.user_name %></span>
                    <a href="/users/logout" class="me-3"><i class="fa-solid fa-right-from-bracket logout-icon"></i></a>
                <% } else { %>
            </a>
            <div class="d-flex align-items-center">
                        <a href="/users/login" class="me-3"><i class="fa-solid fa-right-to-bracket login-icon"></i></a>
                        <a href="/users/register" class="me-3"><i class="fa-solid fa-user-plus register-icon"></i></a>
                    <% } %>
                    <a href="" data-bs-toggle="modal" data-bs-target="#mostrar-carrito" class="position-relative">
                                <span>
                                    <i class="fs-3 fa-solid fa-cart-shopping"></i>                                
                                </span>
                                <span class="badge rounded-pill bg-primary position-absolute top-0"></span>
                            </a>
                    </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-6" id="navbarNav">
                <ul class="navbar-nav me-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=2">Ambos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=6">Zuecos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=5">Lanyard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=3">Anotadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=1">Accesorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category?category_id=4">Bazar</a>
                    </li>
                </ul>
                <form class="d-flex" action="/products/search" method="GET">
                    <div class="input-group">
                        <input class="form-control me-2" type="search" placeholder="Buscar" name="q" aria-label="Search">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products/allProducts">Todos los productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/add">Agregar producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Administrar productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/adminUsers">Administrar usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/profile">Mi perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="/javascripts/searchFormHandler.js"></script>
</header>


