
<%-include('../partial/head') %>

<body>
    <%-include('../partial/header') %>


    <main>
        <div class="products-title">
            <h1>Registro</h1>
        </div>
        <div class="register">
            <form action="/users/register" method="POST" enctype="multipart/form-data" class="w-100 mx-auto">
                <input type="text" name="nombre" placeholder="Nombre y Apellido" required class="input-register">
                <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" required class="input-register">
                <div class="form-group mb-3">
                <label for="image">Imagen:</label>
                <input type="file" class="form-control" id="image" name="image" required></div>
                <input type="email" name="Email" placeholder="Email" required class="input-register">
                <input type="password" name="Contrasena" placeholder="Contraseña" required class="input-register">
                <button type="submit" class="send-button">Registrar</button>
            </form>
            


        </div>
    </main>

    <%-include('../partial/footer') %>
    
</body>
</html>
